<div class="userLoginContainer">
	<div class="headings">Events</div>
	<div class= "eventListWrapper" layout="row" layout-align="start start">
		<div class="eventItem" ng-repeat="event in eventList" ng-click="askAccess($event,$index)">
			<div class="eventName" >
				{{event.name}}				
			</div>			
			<div class="eventSubHead eventDescription">
					{{event.description}}
			</div>
			<div class="eventSubHead eventDate">
					{{event.created_on | date:'dd/MM/yyyy'}}
			</div>
			
		</div>
		<span></span>
	</div>
	<div><a ui-sref='adminLogin'><md-button class="md-warn md-raised md-hue-2">ADMIN LOGIN</md-button></a></div>
</div>

