/*.userLoginContainer{
    display: block;
    margin: auto;
    flex: 1 1 520px;
    min-width: 300px;
    max-width: 520px;
    height: 100%;
    overflow: hidden;
}
.userLoginContainer>h3{
	margin-left: 20px;
}
.eventListWrapper{
    height: 80%;
	min-width: 300px;
	max-width: 520px;
	flex: 1 1 520px;
	overflow-y: scroll;
	padding: 0px 10px;
	overflow-x: hidden;
	margin-right: -16px;

}*/

.eventItem{
    background-color: whitesmoke;
    padding: 25px;
    margin-bottom: 5px;
    /* border: 2px solid white; */
    color: #484848;
    text-transform: capitalize;

}
.eventItem:hover .eventName{
	cursor:pointer;
	text-decoration:underline;
}

.eventItem .eventDate{
	color:#8e8e8e;
	font-size:0.9em;
}