.userLoginContainer{
	text-align:center;
}
.eventListWrapper{
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;    
    overflow-x: hidden;
}
.eventListWrapper>*{
    padding:16px 16px;
    flex:1 1 45%;
}
.eventItem{
    background-color: whitesmoke;
    margin-bottom: 5px;
    color: #484848;
    text-transform: capitalize;
    max-width: 100%;
    min-width: 45%;
    margin: 2px 2px;
    text-align:left;

}
.eventItem:hover{
	background-color:#e2e2e2;
	cursor:pointer;
}
.eventItem:hover .eventName{
	
	text-decoration:underline;
}

.eventItem .eventName{
	font-weight:600;
}

.eventItem .eventSubHead{
	color: #8e8e8e;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.eventItem  .eventDescription{
	font-style:italic;
	height: 20px;
    overflow: scroll;
}